//
// Placeholders
//
%clearfix{
  content: "";
  display: table;
  clear: both;
}

%bg-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%card{
  @include media_query($tablet-breakpoint){
    padding: 30px;
  }
  @include media_query($mobile-breakpoint){
    padding: 20px;
  }
  border: 1px solid #{$card-border-color};
  padding: 40px;
  background-color: $off-white;
  box-sizing: border-box;
  box-shadow: 0px 15px 30px -17px rgba(0,0,0,0.42);
}

// ul.social-icons
%social-icons{
  padding: 0;
  margin: 0;
  list-style: none;

  li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;

    &:last-of-type{
      margin-right: 0;
    }

    a{
      @include media_query($tablet-breakpoint){
        transition: none;
      }
      transition: color 0.4s, transform 0.4s;
      display: inline-block;
      font-size: ems(24px);
      line-height: 24px;

      &:hover{
        @include media_query($tablet-breakpoint){
          transform: scale(1);
        }
        color: $primary-accent;
        transform: scale(1.2);
      }
    }
  }
}


// Slide down animation for header
@keyframes headerSlideDown{
  0%{
    transform: translate(0, -#{$header-height + 55px});
  }

  100%{
    transform: translate(0, 0);
  }
}



@keyframes portraitSlideLeft{
  0%{
    opacity: 0;
    transform: translateX(-80px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bioSlideRight{
  0%{
    opacity: 0;
    transform: translateX(80px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp{
   0%{
    opacity: 0;
    transform: translateY(80px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}