//
// Sass Variables
//

// Colours
$white: #fff;
$off-white: #fefefe;
$off-black: #111;
$card-border-color: #e1e4e6;
$primary-accent: #FF8201;
$secondary-accent: #0C6CC5;
$site-background-color: #ececec;



// Fonts
$bodyfont-size: 16px;
$bodyfont-weight: normal;
$bodycolor: $off-black;

$main-heading-color: $white;
$heading-color: $off-black;
$header-bg-color: $off-black;


// Layout
$main-container-width: 1200px;
$header-height: 60px;

// Breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;
$small-mobile-breakpoint: 540px;