.blog{

  .blog-post-list{

    .post{
      @include media_query($mobile-breakpoint){
        padding: 20px;
        animation: none;
      }
      @extend %card;
      animation: slideUp 0.8s 0.2s;
      animation-fill-mode: both;
      margin-bottom: 30px;
      padding: 30px 45px;
      position: relative;
      min-height: 200px;
      display: flex;
      align-items: center;
      flex-direction:  column;

      .post-title{
        @include media_query($tablet-breakpoint){
          transition: none;
        }
        transition: color 0.4s;

        &:hover{
          color: $primary-accent;
        }
      }

      .divider{
        @include media_query($mobile-breakpoint){
          margin-top: 8px;
          margin-bottom: 12px;
        }
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .excerpt{

        p:last-of-type{
          margin-bottom: 0;
        }
      }

      .date-wrap{
        @include media_query($tablet-breakpoint){
          right: -114px;
        }
        @include media_query($mobile-breakpoint){
          transform: none;
          position: relative;
          top: 0;
          right: 0;
          width: auto;
          margin-bottom: 10px;
        }
        @extend %date-wrap;
        position: absolute;
        transform: rotate(90deg);
        top: 75px;
        right: -122px;
        width: 200px;

        .date{
          @include media_query($mobile-breakpoint){
            position: relative;
            top: 2px;
          }
        }
      }
    }

    // Cascade the animation-delay for the blog posts
    @for $i from 1 through 10{
      .post:nth-child(#{$i}){
        animation-delay: $i * 0.3s + 0.2s;
      }
    }
  }
}