.single-post{

  .post-card{
    @extend %card;
    margin-bottom: 30px;
    text-align: left;
    position: relative;


    h1{
      @include media_query($mobile-breakpoint){
        animation: none;
        font-size: ems(28px);
      }
      text-align: center;
    }

    .date-wrap{
      color: $primary-accent;
      font-size: ems(14px);

      svg{
        width: 18px;
        height: 18px;
      }

      .date{
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

}