.single-post{
  @include media_query($tablet-breakpoint){
     margin-top: $header-height + 50px;
  }
  @include media_query($mobile-breakpoint){
    margin-top: $header-height + 48px;
  }
  @include media_query($small-mobile-breakpoint){
    margin-top: $header-height;
  }
  margin-top: $header-height + 60px;

  .post-card{
    @extend %card;
    margin-bottom: 30px;
    text-align: left;
    position: relative;


    h1{
      @include media_query($mobile-breakpoint){
        animation: none;
        font-size: ems(28px);
      }
      text-align: center;
    }

    .divider{
      @include media_query($mobile-breakpoint){
        margin-top: 15px;
      }
      margin-top: 22px;
      margin-bottom: 10px;
    }

    .date-wrap{
     @extend %date-wrap;
     margin-bottom: 10px;

     .date{
       position: relative;
       top: 2px;
     }
    }

    .back-to-blog{
      display: inline-block;
      position: relative;
      padding-left: 15px;

      // Arrow
      &:before{
        transition: border-color 0.4s;
        display: inline-block;
        content: '';
        border: solid #{$primary-accent};
        border-width: 0 3px 3px 0;
        padding: 3px;
        transform: rotate(135deg);
        position: absolute;
        left: 0;
        top: 7px;
      }

      &:hover{

        &:before{
          border-color: lighten($primary-accent,20);
        }
      }
    }
  }
}